components/banner.html

<section class="banner">
  <div class="banner__container"><img class="banner__container-bg" src="assets/image/banner.png"/>
    <div class="banner__logo">LOGO</div>
    <div class="banner__content">
      <div class="banner__text-wrapper">
        <p class="banner__small-text">オトコの</p>
        <p class="banner__big-text">M字攻め</p>
        <p class="banner__text">これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。</p>
        <div class="banner__bottom">
          <p class="banner__bottom-text">専用薬用育毛剤</p>
          <p class="banner__bottom-text-big">efs育毛剤</p>
        </div>
      </div>
    </div>
    <div class="banner__image-wrapper"><img src="assets/image/banner-bottler-box.png"/></div>
    <div class="banner__crown">
      <p class="banner__crown-text">M字薄毛を克服した<br/>ユーザーからの</p>
      <p class="banner__crown-big">支持率第1位！</p>
    </div>
  </div>
</section>

src/pug/components/banner.pug
section.banner
  .banner__container
    img.banner__container-bg(src="assets/image/banner.png")

    .banner__logo LOGO

    .banner__content
      .banner__text-wrapper
        p.banner__small-text オトコの
        p.banner__big-text M字攻め
        p.banner__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。
        
        .banner__bottom
          p.banner__bottom-text 専用薬用育毛剤
          p.banner__bottom-text-big efs育毛剤


    .banner__image-wrapper
      img(src="assets/image/banner-bottler-box.png")
    
    .banner__crown
      p.banner__crown-text M字薄毛を克服した
        br
        | ユーザーからの
      p.banner__crown-big 支持率第1位！
