src/pug/components/campaign.pug
.section.campaign
  .campaign__main-content
    .campaign__title
      p.campaign__title-text efs育毛剤 お得な定期お届けコース
    
    .campaign__price-wrapper
      .campaign__bottle
        img(src="assets/image/bottle.png")
      
      .campaign__old-price
        .campaign__crossout
        p.campaign__old-price-subtext 通常
          br
          | 価格
        
        .campaign__old-price-yen-container
          p.campaign__old-price-yen 0,000
            span 円
        
        span.campaign__old-price-small-text （税込）

        p.campaign__old-price-bottom たっぷり00日分

        .campaign__old-price-bottom-wrapper
          p.campaign__ml （内容量 000ml）
          p.campaign__ml-bottom 医薬部外品
      
      .campaign__new-price
        .campaign__red-ribbon
          p.campaign__ribbon-text 毎回
            br
            span.campaign__ribbon-text-price 0,000
            span.campaign__ribbon-text-yen 円
            br
            span.campaign__ribbon-text-off OFF
          
          .campaign__new-price-wrapper
            p.campaign__new-price-text 0,000
              span 円
          
          span.campaign__new-price-small-text （税込）

          span.campaign__new-price-bottom-text 送料無料・手数料無料

          button.campaign__button-big 
            span ご購入はこちら ▶

    .campaign__gold-wrapper
      .campaign__gold-title
        p.campaign__gold-title-text 定期お届けコースなら4大特典つき
      
      ul.campaign__gold-list
        li.campaign__gold-item
          .campaign__gold-number 特典
            br
            span 1
          .campaign__gold-text
            .campaign__gold-small ずっと
            .campaign__gold-big 00％割引!

        li.campaign__gold-item
          .campaign__gold-number 特典
            br
            span 2
          .campaign__gold-text
            .campaign__gold-small 全国どこでも
            .campaign__gold-big 送料無料
        
        li.campaign__gold-item
          .campaign__gold-number 特典
            br
            span 3
          .campaign__gold-text
            .campaign__gold-small 中止・休止は
            .campaign__gold-big.campaign__gold-big--width いつでもOK!

        li.campaign__gold-item
          .campaign__gold-number 特典
            br
            span 4
          .campaign__gold-text
            .campaign__gold-small 000日間
            .campaign__gold-big 返金保証

  p.campaign__paragraph 定期お届けコースは、6ヶ月連続していただけることを前提に特別価格で…。定期お届けコースは、6ヶ月連続していただけることを前提に特別価格で…。定期お届けコースは、6ヶ月連続していただけることを前提に特別価格で…。
    br
    | ※1　定期お届けコースは、6ヶ月連続していただけることを前提に特別…。
    br
    | ※2　定期お届けコースは、6ヶ月連続していただけることを前提に特別…。
    br
    | ※3　定期お届けコースは、6ヶ月連続していただけることを前提に特別…。
    br
    | ※4　定期お届けコースは、6ヶ月連続していただけることを前提に特別…。
  
  .campaign__bottom-content
    .campaign__bottom-col1
      p.campaign__bottom-text 今回のみの通常価格
      .campaign__bottom-price
        .campaign__bottom-price-yen-container
          p.campaign__bottom-price-yen 0,000
            span 円
        
        span.campaign__bottom-price-small-text （税込）
        
        .campaign__bottom-box-text 
          p 送料
            br
            | 000円
    
    .campaign__bottom-col2
      p.campaign__col2-text ※通常購入は「180日間返金保証」「特典」対象外です。
      button.campaign__button-small
        span ご購入はこちら ▶

components/campaign.html

<div class="section campaign">
  <div class="campaign__main-content">
    <div class="campaign__title">
      <p class="campaign__title-text">efs育毛剤 お得な定期お届けコース</p>
    </div>
    <div class="campaign__price-wrapper">
      <div class="campaign__bottle"><img src="assets/image/bottle.png"/></div>
      <div class="campaign__old-price">
        <div class="campaign__crossout"></div>
        <p class="campaign__old-price-subtext">通常<br/>価格</p>
        <div class="campaign__old-price-yen-container">
          <p class="campaign__old-price-yen">0,000<span>円</span></p>
        </div><span class="campaign__old-price-small-text">（税込）</span>
        <p class="campaign__old-price-bottom">たっぷり00日分</p>
        <div class="campaign__old-price-bottom-wrapper">
          <p class="campaign__ml">（内容量 000ml）</p>
          <p class="campaign__ml-bottom">医薬部外品</p>
        </div>
      </div>
      <div class="campaign__new-price">
        <div class="campaign__red-ribbon">
          <p class="campaign__ribbon-text">毎回<br/><span class="campaign__ribbon-text-price">0,000</span><span class="campaign__ribbon-text-yen">円</span><br/><span class="campaign__ribbon-text-off">OFF</span></p>
          <div class="campaign__new-price-wrapper">
            <p class="campaign__new-price-text">0,000<span>円</span></p>
          </div><span class="campaign__new-price-small-text">（税込）</span><span class="campaign__new-price-bottom-text">送料無料・手数料無料</span>
          <button class="campaign__button-big"> <span>ご購入はこちら ▶</span></button>
        </div>
      </div>
    </div>
    <div class="campaign__gold-wrapper">
      <div class="campaign__gold-title">
        <p class="campaign__gold-title-text">定期お届けコースなら4大特典つき</p>
      </div>
      <ul class="campaign__gold-list">
        <li class="campaign__gold-item">
          <div class="campaign__gold-number">特典<br/><span>1</span></div>
          <div class="campaign__gold-text">
            <div class="campaign__gold-small">ずっと</div>
            <div class="campaign__gold-big">00％割引!</div>
          </div>
        </li>
        <li class="campaign__gold-item">
          <div class="campaign__gold-number">特典<br/><span>2</span></div>
          <div class="campaign__gold-text">
            <div class="campaign__gold-small">全国どこでも</div>
            <div class="campaign__gold-big">送料無料</div>
          </div>
        </li>
        <li class="campaign__gold-item">
          <div class="campaign__gold-number">特典<br/><span>3</span></div>
          <div class="campaign__gold-text">
            <div class="campaign__gold-small">中止・休止は</div>
            <div class="campaign__gold-big campaign__gold-big--width">いつでもOK!</div>
          </div>
        </li>
        <li class="campaign__gold-item">
          <div class="campaign__gold-number">特典<br/><span>4</span></div>
          <div class="campaign__gold-text">
            <div class="campaign__gold-small">000日間</div>
            <div class="campaign__gold-big">返金保証</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <p class="campaign__paragraph">定期お届けコースは、6ヶ月連続していただけることを前提に特別価格で…。定期お届けコースは、6ヶ月連続していただけることを前提に特別価格で…。定期お届けコースは、6ヶ月連続していただけることを前提に特別価格で…。<br/>※1　定期お届けコースは、6ヶ月連続していただけることを前提に特別…。<br/>※2　定期お届けコースは、6ヶ月連続していただけることを前提に特別…。<br/>※3　定期お届けコースは、6ヶ月連続していただけることを前提に特別…。<br/>※4　定期お届けコースは、6ヶ月連続していただけることを前提に特別…。</p>
  <div class="campaign__bottom-content">
    <div class="campaign__bottom-col1">
      <p class="campaign__bottom-text">今回のみの通常価格</p>
      <div class="campaign__bottom-price">
        <div class="campaign__bottom-price-yen-container">
          <p class="campaign__bottom-price-yen">0,000<span>円</span></p>
        </div><span class="campaign__bottom-price-small-text">（税込）</span>
        <div class="campaign__bottom-box-text"> 
          <p>送料<br/>000円</p>
        </div>
      </div>
    </div>
    <div class="campaign__bottom-col2">
      <p class="campaign__col2-text">※通常購入は「180日間返金保証」「特典」対象外です。</p>
      <button class="campaign__button-small"><span>ご購入はこちら ▶</span></button>
    </div>
  </div>
</div>
