src/pug/components/comments.pug
.comments
  .comments__title
    p お客さまの声
  
  ul.comments__list
    li.comments__item
      .comments__item-title
        p お客さまの声の見出しが入ります。
      .comments__item-content
        .comments__col1
          .comments__img-container
            img(src="assets/image/comments/comments-img-1.jpg")
          p.comments__img-caption 約○ヶ月愛用
      
        .comments__col2
          p.comments__col2-title 〇〇県（○○歳）
          p.comments__paragraph これはコピーです。これはコピーです。これはコピーです○○○○○○○。
            span.comments__blue 注目ポイントに色をつけます。
            | これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.comments__item
      .comments__item-title
        p お客さまの声の見出しが入ります。
      .comments__item-content
        .comments__col1
          .comments__img-container
            img(src="assets/image/comments/comments-img-2.jpg")
          p.comments__img-caption 約○ヶ月愛用
      
        .comments__col2
          p.comments__col2-title 〇〇県（○○歳）
          p.comments__paragraph これはコピーです。これはコピーです。これはコピーです○○○○○○○。
            span.comments__blue 注目ポイントに色をつけます。
            | これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.comments__item
      .comments__item-title
        p お客さまの声の見出しが入ります。
      .comments__item-content
        .comments__col1
          .comments__img-container
            img(src="assets/image/comments/comments-img-3.jpg")
          p.comments__img-caption 約○ヶ月愛用
      
        .comments__col2
          p.comments__col2-title 〇〇県（○○歳）
          p.comments__paragraph これはコピーです。これはコピーです。これはコピーです○○○○○○○。
            span.comments__blue 注目ポイントに色をつけます。
            | これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.comments__item
      .comments__item-title
        p お客さまの声の見出しが入ります。
      .comments__item-content
        .comments__col1
          .comments__img-container
            img(src="assets/image/comments/comments-img-4.jpg")
          p.comments__img-caption 約○ヶ月愛用
      
        .comments__col2
          p.comments__col2-title 〇〇県（○○歳）
          p.comments__paragraph これはコピーです。これはコピーです。これはコピーです○○○○○○○。
            span.comments__blue 注目ポイントに色をつけます。
            | これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.comments__item
      .comments__item-title
        p お客さまの声の見出しが入ります。
      .comments__item-content
        .comments__col1
          .comments__img-container
            img(src="assets/image/comments/comments-img-5.jpg")
          p.comments__img-caption 約○ヶ月愛用
      
        .comments__col2
          p.comments__col2-title 〇〇県（○○歳）
          p.comments__paragraph これはコピーです。これはコピーです。これはコピーです○○○○○○○。
            span.comments__blue 注目ポイントに色をつけます。
            | これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

components/comments.html

<div class="comments">
  <div class="comments__title">
    <p>お客さまの声</p>
  </div>
  <ul class="comments__list">
    <li class="comments__item">
      <div class="comments__item-title">
        <p>お客さまの声の見出しが入ります。</p>
      </div>
      <div class="comments__item-content">
        <div class="comments__col1">
          <div class="comments__img-container"><img src="assets/image/comments/comments-img-1.jpg"/></div>
          <p class="comments__img-caption">約○ヶ月愛用</p>
        </div>
        <div class="comments__col2">
          <p class="comments__col2-title">〇〇県（○○歳）</p>
          <p class="comments__paragraph">これはコピーです。これはコピーです。これはコピーです○○○○○○○。<span class="comments__blue">注目ポイントに色をつけます。</span>これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
    </li>
    <li class="comments__item">
      <div class="comments__item-title">
        <p>お客さまの声の見出しが入ります。</p>
      </div>
      <div class="comments__item-content">
        <div class="comments__col1">
          <div class="comments__img-container"><img src="assets/image/comments/comments-img-2.jpg"/></div>
          <p class="comments__img-caption">約○ヶ月愛用</p>
        </div>
        <div class="comments__col2">
          <p class="comments__col2-title">〇〇県（○○歳）</p>
          <p class="comments__paragraph">これはコピーです。これはコピーです。これはコピーです○○○○○○○。<span class="comments__blue">注目ポイントに色をつけます。</span>これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
    </li>
    <li class="comments__item">
      <div class="comments__item-title">
        <p>お客さまの声の見出しが入ります。</p>
      </div>
      <div class="comments__item-content">
        <div class="comments__col1">
          <div class="comments__img-container"><img src="assets/image/comments/comments-img-3.jpg"/></div>
          <p class="comments__img-caption">約○ヶ月愛用</p>
        </div>
        <div class="comments__col2">
          <p class="comments__col2-title">〇〇県（○○歳）</p>
          <p class="comments__paragraph">これはコピーです。これはコピーです。これはコピーです○○○○○○○。<span class="comments__blue">注目ポイントに色をつけます。</span>これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
    </li>
    <li class="comments__item">
      <div class="comments__item-title">
        <p>お客さまの声の見出しが入ります。</p>
      </div>
      <div class="comments__item-content">
        <div class="comments__col1">
          <div class="comments__img-container"><img src="assets/image/comments/comments-img-4.jpg"/></div>
          <p class="comments__img-caption">約○ヶ月愛用</p>
        </div>
        <div class="comments__col2">
          <p class="comments__col2-title">〇〇県（○○歳）</p>
          <p class="comments__paragraph">これはコピーです。これはコピーです。これはコピーです○○○○○○○。<span class="comments__blue">注目ポイントに色をつけます。</span>これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
    </li>
    <li class="comments__item">
      <div class="comments__item-title">
        <p>お客さまの声の見出しが入ります。</p>
      </div>
      <div class="comments__item-content">
        <div class="comments__col1">
          <div class="comments__img-container"><img src="assets/image/comments/comments-img-5.jpg"/></div>
          <p class="comments__img-caption">約○ヶ月愛用</p>
        </div>
        <div class="comments__col2">
          <p class="comments__col2-title">〇〇県（○○歳）</p>
          <p class="comments__paragraph">これはコピーです。これはコピーです。これはコピーです○○○○○○○。<span class="comments__blue">注目ポイントに色をつけます。</span>これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        </div>
      </div>
    </li>
  </ul>
</div>
