components/pr.html

<section class="pr">
  <div class="pr__container"><img class="pr__container-bg" src="assets/image/PR-bg.svg"/></div>
  <div class="pr__title">会社のPR欄</div>
  <div class="pr__box"></div>
  <p class="pr__text">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーで</p>
</section>

src/pug/components/pr.pug
section.pr
  .pr__container
    img.pr__container-bg(src="assets/image/PR-bg.svg")
  .pr__title 会社のPR欄
  .pr__box
  p.pr__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーで
