src/pug/components/qa.pug
.section.qa
  .qa__title
    p よくあるご質問
  
  ul.qa__list
    li.qa__item
      .qa__question
          .qa__question-img 
            img(src="assets/image/question-icon.svg")
          .qa__question-text 見出しが入ります。

      .qa__answer
        .qa__question-img 
          img(src="assets/image/answer-icon.svg")
        .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.qa__item
      .qa__question
          .qa__question-img 
            img(src="assets/image/question-icon.svg")
          .qa__question-text 見出しが入ります。

      .qa__answer
        .qa__question-img 
          img(src="assets/image/answer-icon.svg")
        .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.qa__item
      .qa__question
          .qa__question-img 
            img(src="assets/image/question-icon.svg")
          .qa__question-text 見出しが入ります。

      .qa__answer
        .qa__question-img 
          img(src="assets/image/answer-icon.svg")
        .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.qa__item
      .qa__question
          .qa__question-img 
            img(src="assets/image/question-icon.svg")
          .qa__question-text 見出しが入ります。

      .qa__answer
        .qa__question-img 
          img(src="assets/image/answer-icon.svg")
        .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
    
    li.qa__item
      .qa__question
          .qa__question-img 
            img(src="assets/image/question-icon.svg")
          .qa__question-text 見出しが入ります。

      .qa__answer
        .qa__question-img 
          img(src="assets/image/answer-icon.svg")
        .qa__answer-text これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。

components/qa.html

<div class="section qa">
  <div class="qa__title">
    <p>よくあるご質問</p>
  </div>
  <ul class="qa__list">
    <li class="qa__item">
      <div class="qa__question">
        <div class="qa__question-img"> <img src="assets/image/question-icon.svg"/></div>
        <div class="qa__question-text">見出しが入ります。</div>
      </div>
      <div class="qa__answer">
        <div class="qa__question-img"> <img src="assets/image/answer-icon.svg"/></div>
        <div class="qa__answer-text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</div>
      </div>
    </li>
    <li class="qa__item">
      <div class="qa__question">
        <div class="qa__question-img"> <img src="assets/image/question-icon.svg"/></div>
        <div class="qa__question-text">見出しが入ります。</div>
      </div>
      <div class="qa__answer">
        <div class="qa__question-img"> <img src="assets/image/answer-icon.svg"/></div>
        <div class="qa__answer-text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</div>
      </div>
    </li>
    <li class="qa__item">
      <div class="qa__question">
        <div class="qa__question-img"> <img src="assets/image/question-icon.svg"/></div>
        <div class="qa__question-text">見出しが入ります。</div>
      </div>
      <div class="qa__answer">
        <div class="qa__question-img"> <img src="assets/image/answer-icon.svg"/></div>
        <div class="qa__answer-text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</div>
      </div>
    </li>
    <li class="qa__item">
      <div class="qa__question">
        <div class="qa__question-img"> <img src="assets/image/question-icon.svg"/></div>
        <div class="qa__question-text">見出しが入ります。</div>
      </div>
      <div class="qa__answer">
        <div class="qa__question-img"> <img src="assets/image/answer-icon.svg"/></div>
        <div class="qa__answer-text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</div>
      </div>
    </li>
    <li class="qa__item">
      <div class="qa__question">
        <div class="qa__question-img"> <img src="assets/image/question-icon.svg"/></div>
        <div class="qa__question-text">見出しが入ります。</div>
      </div>
      <div class="qa__answer">
        <div class="qa__question-img"> <img src="assets/image/answer-icon.svg"/></div>
        <div class="qa__answer-text">これはコピーです。これはコピーです。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</div>
      </div>
    </li>
  </ul>
</div>
