src/pug/components/sns.pug
.sns
  .sns__container
    img.sns__container-bg(src="assets/image/benefits-bg.png")

    .sns__bottle-container
      img.sns__bottle-box-img(src="assets/image/banner-bottler-box.png")
    
    .sns__banner-text
      p SNSでも大絶賛！
    
  .sns__img-container
    img.sns__img(src="assets/image/sns-collage.jpg")

components/sns.html

<div class="sns">
  <div class="sns__container"><img class="sns__container-bg" src="assets/image/benefits-bg.png"/>
    <div class="sns__bottle-container"><img class="sns__bottle-box-img" src="assets/image/banner-bottler-box.png"/></div>
    <div class="sns__banner-text">
      <p>SNSでも大絶賛！</p>
    </div>
  </div>
  <div class="sns__img-container"><img class="sns__img" src="assets/image/sns-collage.jpg"/></div>
</div>
